[Unit]
Description=Elephant data provider daemon for Walker
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=elephant
Environment="PATH=%h/.nix-profile/bin:/etc/profiles/per-user/%u/bin:/run/current-system/sw/bin:%h/.local/bin:/usr/local/bin:/usr/bin:/bin"
Environment="XDG_DATA_DIRS=%h/.nix-profile/share:/etc/profiles/per-user/%u/share:/run/current-system/sw/share:/usr/local/share:/usr/share"
Restart=always
RestartSec=1

[Install]
WantedBy=graphical-session.target
UpheldBy=graphical-session.target
