[Unit]
Description=Elephant data provider daemon for Walker
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecSearchPath=%h/.nix-profile/bin:/etc/profiles/per-user/%u/bin:/run/current-system/sw/bin:%h/.local/bin:/usr/local/bin:/usr/bin:/bin
ExecStart=elephant
Restart=always
RestartSec=1

[Install]
WantedBy=graphical-session.target
