[Unit]
Description=Elephant data provider daemon for Walker
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=elephant
Restart=always
RestartSec=1

[Install]
WantedBy=graphical-session.target
