[Unit]
Description=i3-cycle-focus(i3 alt tab)

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=%h/.config/i3/scripts/i3-cycle-focus.py --active-workspace
Restart=always

[Install]
WantedBy=defalt.target
