[QuickPhrase]
# Trigger Key for QuickPhrase
# Available Value:
# None
# Semicolon
# Grave
#QuickPhraseTriggerKey=Semicolon
# Alternative Trigger Key for QuickPhrase
#AlternativeTriggerKey=
# Choose key modifier
# Available Value:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=None
# Do not show spell hint
# Available Value:
# True False
#DisableSpell=False
# Maximum hint length
#MaximumHintLength=2

