[Auto English]
# Choose key modifier
# Available Value:
# None
# Alt
# Ctrl
# Shift
#ChooseModifier=Alt
# Do not show spell hint
# Available Value:
# True False
#DisableSpell=False
# Maximum hint length
#MaximumHintLength=2
# Maximum words number kept in preedit
#MaximumKeep=3
# Add Extra space when selecting a candidate word
# Available Value:
# True False
#SelectAddSpace=True

