[IMSelector]
# Local Input Method SelectKey
#LocalInputMethodSelectKey=
# Global Input Method SelectKey
#GlobalInputMethodSelectKey=
# Clear local Input Method
#ClearLocal=

[GlobalSelector]
# Switch to the First Input Method
#IM1=
# Switch to the Second Input Method
#IM2=
# Switch to the Third Input Method
#IM3=
# Switch to the Fourth Input Method
#IM4=
# Switch to the Fifth Input Method
#IM5=
# Switch to the Sixth Input Method
#IM6=
# Switch to the Seventh Input Method
#IM7=
# Switch to the Eighth Input Method
#IM8=
# Switch to the Ninth Input Method
#IM9=

[LocalSelector]
# Switch to the First Input Method
#IM1=
# Switch to the Second Input Method
#IM2=
# Switch to the Third Input Method
#IM3=
# Switch to the Fourth Input Method
#IM4=
# Switch to the Fifth Input Method
#IM5=
# Switch to the Sixth Input Method
#IM6=
# Switch to the Seventh Input Method
#IM7=
# Switch to the Eighth Input Method
#IM8=
# Switch to the Ninth Input Method
#IM9=

