[Pinyin Enhance]
# Treating abbreviated Pinyin as English
# Available Value:
# True False
#ShortAsEnglish=False
# Allow replacing the first candidate
# Available Value:
# True False
#AllowReplaceFirst=True
# Do not show spell hint
# Available Value:
# True False
#DisableSpell=False
# Maximum hint length
#MaximumHintLength=1
# Hotkey for Inputing Character From Phrase
#InputCharFromPhraseString=[]
# Hotkey for switching to Inputing Character From Phrase mode
#InputCharFromPhraseKey=
# Disable Pinyin Symbol
# Available Value:
# True False
#DisableSym=False
# Stroke input trigger length
#StrokeThresh=2
# Maximum results from stroke input.
#StrokeLimit=3

