[X Keyboard]
# Allow to Override System XKB Settings
# Available Value:
# True False
#OverrideSystemXKBSettings=True
# Use the layout of first keyboard input method in list as default layout
# Available Value:
# True False
#UseFirstKeyboardIMAsDefaultLayout=True
# xmodmap command
#XModmapCommand=xmodmap
# Apply this custom xmodmap script after layout change
#CustomXModmapScript=

