[Keyboard]
# Commit with extra space when choose candidate word
# Available Value:
# True False
#CommitWithExtraSpace=False
# Choose key modifier
# Available Value:
# None
# Alt
# Ctrl
# Shift
ChooseModifier=None
# Toggle the word hint
HotkeyToggleWordHint=
# Minimum length to trigger word hint
#MinimumHintLength=1
# Maximum length of spell hint list
#MaximumHintLength=5
# Use enter to commit the existing string
# Available Value:
# True False
#UseEnterToCommit=False
# Add current input buffer to user dictionary
HotkeyAddToUserDict=

