# all ignore #
/*
/.**

# not ignore #

## config
!/.config/
!/.config/**
/.config/fcitx/**
!/.config/fcitx/config
!/.config/fcitx/conf/
!/.config/fcitx/conf/**
/.config/fcitx5/**
!/.config/fcitx5/config
!/.config/fcitx5/conf/
!/.config/fcitx5/conf/**
.config/fcitx5/conf/cached_layouts
!/.config/environment.d/
!/.config/environment.d/**
/.config/TabNine/registration_key
!/.config/espanso/
!/.config/espanso/**
!/.config/espanso/user/
/.config/espanso/user/**
!/.config/efm-langserver/
!/.config/efm-langserver/**
/.config/systemd/**/*kite*
/.config/gh/**
!/.config/gh/config.yml

## neovim
!/.config/nvim/rc/**
!/.config/nvim/lua/**
!/.config/nvim/autoload/**
!/.config/nvim/ftplugin/**
!/.config/nvim/ftdetect/**
!/.config/nvim/template/**
!/.config/nvim/snippets/**
!/.config/nvim/after/**
!/.config/nvim/tasks/**
!/.config/nvim/init.vim
!/.config/nvim/init.lua
/.config/nvim/sessions/**
/.config/nvim/plugin/**
/.config/nvim/spell/**

## zsh
!/.zshrc
!/.zshenv
/.zfunc/**
!/.config/zsh/
!/.config/zsh/dircolors
!/.config/zsh/rc/
!/.config/zsh/rc/**
!/.config/zsh/zkbd/
!/.config/zsh/zkbd/**
!/.config/zsh/zfunc/
!/.config/zsh/zfunc/**
!/.config/zsh/completions/
!/.config/zsh/completions.local/
/.config/zsh/complete.local/**
!/.config/zsh/completions/**
!/.config/zsh/snippets/
!/.config/zsh/snippets/**
!/.config/pet/snippet.toml

## tmux
!/.config/tmux/
!/.config/tmux/tmux.conf
!/.config/tmux/conf/
!/.config/tmux/conf/**

## VSCode
/.config/Code/**
!/.config/Code/User/*.json

## desktop environment
### i3
!/.config/i3/
!/.config/i3/**
/.config/i3/config
/.config/i3/config.local
!/.config/i3/scripts/
!/.config/i3/scripts/**
/.config/i3/scripts/blocks/i3blocks-contrib
!/.config/i3/systemd/
!/.config/i3/systemd/**

### sway
!/.config/sway/
!/.config/sway/**
/.config/sway/config
/.config/sway/config.local
!/.config/sway/scripts/
!/.config/sway/scripts/**

## app

## etc
!/.bin/
!/.bin/**
!/.bin.local
!/.gdbinit

## X
!/.Xmodmap
!/.xinitrc
!/.xprofile
!/.xsessionrc

## Wayland
!/.pam_environment

# IME
!/.mozc/
!/.mozc/**
/.mozc/*.log
/.mozc/*.txt
/.mozc/*.db
/.mozc/.*

## git

## ci
!/.circleci/
!/.circleci/**
!/.github/
!/.github/**


# ignore #

# not ignore #

# not ignore #
!/docs/
!/docs/**
!/_config.yml
!/README.md
!/LICENSE
!/install_scripts/
!/install_scripts/**
!.gitignore
!.gitkeep

