### all ignore ###
/*
/.*
/.*/*
/.*/*/*
/.*/*/*/*
/.*/*/*/*/*

### not ignore ###
!/.zshrc
!/.zshenv
!/.zsh/
!/.zsh/dircolors
!/.zsh/rc
!/.zsh/rc/*
!/.zsh/zkbd/
!/.zsh/zkbd/*
!/.vimrc
!/.vim/
!/.vim/rc
!/.vim/rc/*
!/.vim/rc/plugin
!/.vim/rc/plugin/*
!/.vim/ftplugin
!/.vim/ftplugin/*
!/.vim/undo
!/.vim/info
!/.vim/backup
!/.vim/swap
!/.vim/sessions
!/.bin/
!/.bin/*
!/.autokey/
!/.autokey/*
!/.tmux.conf
!/.tmux/
!/.tmux/conf/
!/.tmux/conf/*
!/.tmux/log/
!/.tmux/powerline-rc/
!/.tmux/powerline-rc/*
!/.gdbinit
!/.conkycolors/
!/.conkycolors/conkyrc
!/.Xdefaults
!/.i3/
!/.i3/*
/.i3/config
!/.i3/scripts
!/.i3/scripts/*
!/.lilyterm/
!/.lilyterm/*
!/.wallpaper/
/.wallpaper/*

### ignore ###

### not ignore ###

### not ignore ###
!/README.md
!.gitignore
!.gitkeep

