### all ignore ###
/*
/.*

### not ignore ###
!/.zshrc
!/.zsh/
!/.zshrc.antigen
!/.vimrc
!/.vim/
!/.bin
!/.autokey
!/.zprofile
!/.zshenv
!/.zlogin
!/.zlogout
!/.conkycolors
!/.tmux.conf
!/.tmux/
!/.gdbinit

### ignore ###
/.zsh/*
/.vim/*
/.tmux/*

### not ignore ###
!/README.md
!.gitignore
!.gitkeep

