set surround
set clipboard=unnamedplus
set smartcase
set incsearch
set hlsearch
set timeout
set timeoutlen=1000
let mapleader = ' '


" Memo
" <Leader>: Util
" ,: Edit
" \\: config

" Get commandlist
" :actionlist

" available key
" <A-Up>
" <A-Down>
" <A-S-Up>
" <A-S-Down>
" <A-C-S-Up>
" <A-C-S-Down>
" <A-C-S-Left>
" <A-C-S-Right>
" <C-S-Left>
" <C-S-Right>
" <A-C-S-H>
" <A-C-S-L>
" {, }


" Basic
nnoremap \\r :source ~/.ideavimrc<CR>
noremap x "_x
noremap ,d "_d
noremap ,D "_D
nnoremap ,p :<C-u>action $Paste<CR>


" Move
nnoremap S :<C-u>action AceAction<CR>
"nnoremap / :<C-u>action Find<CR>
nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>
nnoremap <C-S-o> <C-o>
nnoremap <C-S-i> <C-i>
nnoremap [m :<C-u>action MethodUp<CR>
nnoremap ]m :<C-u>action MethodDown<CR>
nnoremap [[ :<C-u>action MethodUp<CR>
nnoremap ]] :<C-u>action MethodDown<CR>
nnoremap [c :<C-u>action VcsShowPrevChangeMarker<CR>
nnoremap ]c :<C-u>action VcsShowNextChangeMarker<CR>
nnoremap [e :<C-u>action GotoPreviousError<CR>
nnoremap ]e :<C-u>action GotoNextError<CR>
nnoremap <C-Up> :<C-u>action MethodUp<CR>
nnoremap <C-Down> :<C-u>action MethodDown<CR>
nnoremap <C-S-Up> :<C-u>action VcsShowPrevChangeMarker<CR>
nnoremap <C-S-Down> :<C-u>action VcsShowNextChangeMarker<CR>
nnoremap <A-Up> :<C-u>action MethodUp<CR>
nnoremap <A-Down> :<C-u>action MethodDown<CR>
nnoremap <A-S-Up> <Nop>
nnoremap <A-S-Down> <Nop>


" Navigate
nnoremap <S-F2> :<C-u>action Back<CR>
nnoremap <S-F3> :<C-u>action Forward<CR>
nnoremap <C-F2> :<C-u>action JumpToLastChange<CR>
nnoremap <C-F3> :<C-u>action JumpToNextChange<CR>
nnoremap <A-F2> :<C-u>action GotoPreviousError<CR>
nnoremap <A-F3> :<C-u>action GotoNextError<CR>
nnoremap <C-S-F2> :<C-u>action PreviousOccurence<CR>
nnoremap <C-S-F3> :<C-u>action NextOccurence<CR>
nnoremap g; :<C-u>action JumpToLastChange<CR>
nnoremap g, :<C-u>action JumpToNextChange<CR>


" Tab
nnoremap <F4>      :q<CR>
nnoremap <C-F4>    :q<CR>
nnoremap <S-F4>    :<C-u>action ReopenClosedTab<CR>
nnoremap <C-S-F4>  :<C-u>action CloseAllEditorsButActive<CR>
nnoremap <C-S-T>   :<C-u>action ReopenClosedTab<CR>
nnoremap <Leader>q :<C-u>action CloseContent<CR>
nnoremap <F2>      :<C-u>action PreviousTab<CR>
nnoremap <A-Left>  :<C-u>action PreviousTab<CR>
nnoremap <A-H>     :<C-u>action PreviousTab<CR>
nnoremap <F3>      :<C-u>action NextTab<CR>
nnoremap <A-Right> :<C-u>action NextTab<CR>
nnoremap <A-L>     :<C-u>action NextTab<CR>

nnoremap <S-Up>    :<C-u>action VimWindowUp<CR>
nnoremap <S-Down>  :<C-u>action VimWindowDown<CR>
nnoremap <S-Right> :<C-u>action VimWindowRight<CR>
nnoremap <S-Left>  :<C-u>action VimWindowLeft<CR>
nnoremap <C-S-Right> <Esc>:action VimWindowRight<CR>
nnoremap <C-S-Left>  <Esc>:action VimWindowLeft<CR>
nnoremap <C-S-K>   :<C-u>action VimWindowUp<CR>
nnoremap <C-S-J>   :<C-u>action VimWindowDown<CR>
nnoremap <C-S-L>   :<C-u>action VimWindowRight<CR>
nnoremap <C-S-H>   :<C-u>action VimWindowLeft<CR>

nnoremap <A-S-Right> :<C-u>action com.mnw.tabmover.actions.MoveTabDownAction<CR>
nnoremap <A-S-Left>  :<C-u>action com.mnw.tabmover.actions.MoveTabUpAction<CR>
nnoremap <A-S-L>     :<C-u>action com.mnw.tabmover.actions.MoveTabDownAction<CR>
nnoremap <A-S-H>     :<C-u>action com.mnw.tabmover.actions.MoveTabUpAction<CR>

nnoremap <A-C-Up>       :<C-u>action com.mnw.tabmover.actions.MoveTabToFirstAction<CR>
nnoremap <A-C-Down>     :<C-u>action com.mnw.tabmover.actions.MoveTabToLastAction<CR>
nnoremap <A-C-Right>    :<C-u>action com.mnw.tabmover.actions.MoveTabToNextSplitter<CR>
nnoremap <A-C-Left>     :<C-u>action com.mnw.tabmover.actions.MoveTabToPreviousSplitter<CR>
nnoremap <A-C-L>        :<C-u>action com.mnw.tabmover.actions.MoveTabToNextSplitter<CR>
nnoremap <A-C-H>        :<C-u>action com.mnw.tabmover.actions.MoveTabToPreviousSplitter<CR>
nnoremap <A-C-S-Pageup>   :<C-u>action com.mnw.tabmover.actions.MoveTabToPreviousWindow<CR>
nnoremap <A-C-S-Pagedown> :<C-u>action com.mnw.tabmover.actions.MoveTabToNextWindow<CR>

inoremap <F4>      <Esc>:q<CR>
inoremap <C-F4>    <Esc>:q<CR>
inoremap <S-F4>    <Esc>:action ReopenClosedTab<CR>
inoremap <C-S-F4>  <Esc>:action CloseAllEditorsButActive<CR>
inoremap <C-S-T>   <Esc>:action ReopenClosedTab<CR>
inoremap <F2>      <Esc>:action PreviousTab<CR>
inoremap <A-Left>  <Esc>:action PreviousTab<CR>
inoremap <A-H>     <Esc>:action PreviousTab<CR>
inoremap <F3>      <Esc>:action NextTab<CR>
inoremap <A-Right> <Esc>:action NextTab<CR>
inoremap <A-L>     <Esc>:action NextTab<CR>

inoremap <S-Up>    <Esc>:action VimWindowUp<CR>
inoremap <S-Down>  <Esc>:action VimWindowDown<CR>
inoremap <S-Right> <Esc>:action VimWindowRight<CR>
inoremap <S-Left>  <Esc>:action VimWindowLeft<CR>
inoremap <C-S-Right> <Esc>:action VimWindowRight<CR>
inoremap <C-S-Left>  <Esc>:action VimWindowLeft<CR>
inoremap <C-S-K>   <Esc>:action VimWindowUp<CR>
inoremap <C-S-J>   <Esc>:action VimWindowDown<CR>
inoremap <C-S-L>   <Esc>:action VimWindowRight<CR>
inoremap <C-S-H>   <Esc>:action VimWindowLeft<CR>

inoremap <A-S-Right> <Esc>:action com.mnw.tabmover.actions.MoveTabDownAction<CR>
inoremap <A-S-Left>  <Esc>:action com.mnw.tabmover.actions.MoveTabUpAction<CR>
inoremap <A-S-L>     <Esc>:action com.mnw.tabmover.actions.MoveTabDownAction<CR>
inoremap <A-S-H>     <Esc>:action com.mnw.tabmover.actions.MoveTabUpAction<CR>

inoremap <A-C-Up>       <Esc>:action com.mnw.tabmover.actions.MoveTabToFirstAction<CR>
inoremap <A-C-Down>     <Esc>:action com.mnw.tabmover.actions.MoveTabToLastAction<CR>
inoremap <A-C-Right>    <Esc>:action com.mnw.tabmover.actions.MoveTabToNextSplitter<CR>
inoremap <A-C-Left>     <Esc>:action com.mnw.tabmover.actions.MoveTabToPreviousSplitter<CR>
inoremap <A-C-L>        <Esc>:action com.mnw.tabmover.actions.MoveTabToNextSplitter<CR>
inoremap <A-C-H>        <Esc>:action com.mnw.tabmover.actions.MoveTabToPreviousSplitter<CR>
inoremap <A-C-Pageup>   <Esc>:action com.mnw.tabmover.actions.MoveTabToPreviousWindow<CR>
inoremap <A-C-Pagedown> <Esc>:action com.mnw.tabmover.actions.MoveTabToNextWindow<CR>


" Goto
nnoremap K :<C-u>action QuickJavaDoc<CR>
nnoremap gK :<C-u>action GotoDeclaration<CR>
nnoremap gk :<C-u>action GotoTypeDeclaration<CR>
nnoremap gi :<C-u>action GotoImplementation<CR>
nnoremap gs :<C-u>action GotoSuperMethod<CR>
nnoremap gt :<C-u>action GotoTest<CR>
nnoremap <C-k> :<C-u>action ShowUsages<CR>

" Goto file
nnoremap <Leader>gs :<C-u>action GotoSymbol<CR>
nnoremap <F6>       :<C-u>action GotoRelated<CR>
nnoremap <C-F6> :<C-u>action org.moreunit.actions.jump<CR>

" Search
nnoremap <Leader>e  :<C-u>action SearchEverywhere<CR>
nnoremap <Leader>p  :<C-u>action RecentFiles<CR>
nnoremap <Leader>a  :<C-u>action GotoAction<CR>
nnoremap <Leader>u  :<C-u>action FindUsages<CR>
nnoremap <A-F7>     :<C-u>action FindUsages<CR>

" Find files/class
nnoremap <Leader>;  :<C-u>action GotoFile<CR>
nnoremap <Leader>o  :<C-u>action FileStructurePopup<CR>
nnoremap <Leader>gc :<C-u>action GotoClass<CR>
nnoremap <Leader>gs :<C-u>action GotoSymbol<CR>
nnoremap <Leader>gt :<C-u>action ActivateTerminalToolWindow<CR>
nnoremap <Leader>h  :<C-u>action CallHierarchy<CR>

" Find word
nnoremap <Leader>F  :<C-u>action Find<CR>
nnoremap <Leader>f  :<C-u>action FindInPath<CR>


" Edit
vnoremap < <gv
vnoremap > >gv
nnoremap <Leader>c<Leader> :<C-u>action CommentByLineComment<CR>
nnoremap <Leader>=  :<C-u>action ReformatCode<CR>
nnoremap <C-S-=> :<C-u>action ReformatCode<CR>
nnoremap <C-S-U> :<C-u>action EditorToggleCase<CR>

" Select
nnoremap + :<C-u>action EditorSelectWord<CR>
nnoremap - :<C-u>action EditorUnSelectWord<CR>

" Refactor
nnoremap ,rm  :<C-u>action ExtractMethod<CR>
nnoremap ,rn  :<C-u>action RenameElement<CR>
nnoremap ,rs :<C-u>action ChangeSignature<CR>
nnoremap ,rt :<C-u>action ChangeTypeSignature<CR>
nnoremap <S-F7> :<C-u>action RenameElement<CR>

" Generate
nnoremap ,g, :<C-u>action Generate<CR>
nnoremap ,gn :<C-u>action NewClass<CR>
nnoremap ,go :<C-u>action OverrideMethods<CR>
nnoremap ,gc :<C-u>action GenerateConstructor<CR>
nnoremap ,gg :<C-u>action GenerateGetter<CR>
nnoremap ,gs :<C-u>action GenerateSetter<CR>
nnoremap ,ga :<C-u>action GenerateGetterAndSetter<CR>
nnoremap ,ge :<C-u>action GenerateEquals<CR>
nnoremap ,gt :<C-u>action GenerateTestMethod<CR>
nnoremap ,gi :<C-u>action ImplementMethods<CR>
nnoremap ,gd :<C-u>action CIDR.Lang.Cpp.GenerateDefinitions<CR>
nnoremap <F7> :<C-u>action Generate<CR>


" Git
nnoremap \\gm :<C-u>action Vcs.QuickListPopupAction<CR>
nnoremap \\gc :<C-u>action CheckinProject<CR>

" History
nnoremap \\h  :<C-u>action RecentChanges<CR>
nnoremap \\hl  :<C-u>action LocalHistory.ShowHistory<CR>


" Build
nnoremap <F8> :<C-u>action Build<CR>
nnoremap <S-F8> :<C-u>action CMake.ReloadCMakeProject<CR>
nnoremap <C-F8> :<C-u>action StopBackgroundProcesses<CR>
nnoremap <C-S-F8> :<C-u>action Clean<CR>

" Debug
nnoremap <Leader>dd :<C-u>action Debug<CR>
nnoremap <Leader>dc :<C-u>action ChooseDebugConfiguration<CR>
nnoremap <F9>       :<C-u>action ChooseDebugConfiguration<CR>
nnoremap <S-F9>     :<C-u>action Debug<CR>
nnoremap <C-F9>     :<C-u>action DebugClass<CR>

" Run
nnoremap <Leader>rr :<C-u>action Run<CR>
nnoremap <Leader>rc :<C-u>action ChooseRunConfiguration<CR>
nnoremap <Leader>tn :<C-u>action RunClass<CR>
nnoremap <F10>      :<C-u>action ChooseRunConfiguration<CR>
nnoremap <S-F10>    :<C-u>action Run<CR>
nnoremap <C-F10>    :<C-u>action RunClass<CR>

" Test
"Clion only
nnoremap <C-F10>  :<C-u>action Rerun<CR>
nnoremap <A-F10>  :<C-u>action RerunFailedTests<CR>
nnoremap <Leader>tr  :<C-u>action Rerun<CR>
nnoremap <Leader>tf  :<C-u>action RerunFailedTests<CR>

" Debugger
nnoremap <Leader>b  :<C-u>action ToggleLineBreakpoint<CR>

" Refresh
nnoremap <F5>  :<C-u>action Synchronize<CR>
nnoremap <S-F5>  :<C-u>action ReformatCode<CR>
nnoremap <C-F5>  :<C-u>action Refresh<CR>


" Sticky
nnoremap <Leader>m<Leader>   :<C-u>action com.mnw.stickyselection.actions.PaintSelectionPopupAction<CR>
nnoremap <Leader>mc  :<C-u>action com.mnw.stickyselection.actions.ClearAllPaintGroupAction<CR>
nnoremap <Leader>mm  :<C-u>action com.mnw.stickyselection.actions.ClearPaintGroupPopupAction<CR>

