#!/usr/bin/env sh

userresources=$HOME/.Xresources
usermodmap=$HOME/.Xmodmap
sysresources=/etc/X11/xinit/.Xresources
sysmodmap=/etc/X11/xinit/.Xmodmap

# start some nice programs

if [ -d /etc/X11/xinit/xinitrc.d ] ; then
  for f in /etc/X11/xinit/xinitrc.d/?*.sh ; do
    [ -x "$f" ] && . "$f"
  done
  unset f
fi

#export LANG="ja_JP.UTF-8"
export LC_CTYPE=$LANG
export LC_NUMERIC=$LANG
export LC_TIME=$LANG
export LC_COLLATE=$LANG
export LC_MONETARY=$LANG
export LC_MESSAGES=$LANG
export LC_PAPER=$LANG
export LC_NAME=$LANG
export LC_ADDRESS=$LANG
export LC_TELEPHONE=$LANG
export LC_MEASUREMENT=$LANG
export LC_IDENTIFICATION=$LANG
export LC_ALL=

# IME
# fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
fcitx -rd &
# ibus
# export GTK_IM_MODULE=ibus
# export QT_IM_MODULE=ibus
# export XMODIFIERS=@im=ibus
# ibus-daemon --xim -rd &

sleep 1 # wait fcitx boot

# merge in defaults and keymaps

if [ -f $sysresources ]; then
  xrdb -merge $sysresources
fi

if [ -f $sysmodmap ]; then
  xmodmap $sysmodmap
fi

if [ -f "$userresources" ]; then
  xrdb -merge "$userresources"
fi

if [ -f $usermodmap ]; then
  xmodmap $usermodmap
fi

xset -b
# xset s blank
xset s off
# xset s 900 1200
xset +dpms
xset dpms 900 1200 1800

if builtin command -v "synclient" > /dev/null 2>&1; then
  LEFT_EDGE=$(synclient | \grep -w LeftEdge | awk '{print $3}')
  RIGHT_EDGE=$(synclient | \grep -w RightEdge | awk '{print $3}')
  TOP_EDGE=$(synclient | \grep -w TopEdge | awk '{print $3}')
  BOTTOM_EDGE=$(synclient | \grep -w BottomEdge | awk '{print $3}')
  WIDTH_SIZE=$(echo $RIGHT_EDGE - $LEFT_EDGE | bc)
  HEIGHT_SIZE=$(echo $BOTTOM_EDGE - $TOP_EDGE | bc)
  WIDTH_REDUCTION_SIZE=$(echo $WIDTH_SIZE*10/100 | bc)
  HEIGHT_REDUCTION_SIZE=$(echo $HEIGHT_SIZE*10/100 | bc)
  MARGIN_LEFT_EDGE=$(echo $LEFT_EDGE + $WIDTH_REDUCTION_SIZE | bc)
  MARGIN_RIGHT_EDGE=$(echo $RIGHT_EDGE - $WIDTH_REDUCTION_SIZE | bc)
  MARGIN_TOP_EDGE=$(echo $TOP_EDGE + $HEIGHT_REDUCTION_SIZE | bc)

  synclient TapButton1=1 TapButton2=2 TapButton3=3 VertTwoFingerScroll=1 HorizTwoFingerScroll=1 AreaLeftEdge=$MARGIN_LEFT_EDGE AreaRightEdge=$MARGIN_RIGHT_EDGE AreaTopEdge=$MARGIN_TOP_EDGE PalmDetect=1 PalmMinWidth=10 PalmMinZ=200 FingerHigh=50 FingerLow=30 MaxTapTime=90 EmulateTwoFingerMinZ=100 EmulateTwoFingerMinW=8
fi

# The scroll button can input middle button
#if builtin command -v "xinput" > /dev/null 2>&1; then
#  TRACK_POINT_NAME=$(xinput list --name-only  | \grep -i trackpoint)
#  if [ -n "$TRACK_POINT_NAME" ]; then
#    xinput set-prop "$TRACK_POINT_NAME" "libinput Middle Emulation Enabled" 1
#  fi
#fi

