priority -50

snippet     noreplay_mail "git noreplay config" i
@users.noreply.github.com
endsnippet

snippet     change_user "change user" b
[user]
	email = ${1:mail}@users.noreply.github.com
	name = ${2:username}
endsnippet

