priority 0

snippet star_count "Add the star count badge" b
[![](https://img.shields.io/github/stars/${1:repo-path}?label=%20&logo=%20)]()
endsnippet

snippet zenn_notice "zenn notice message" b
:::message
${1}
:::
endsnippet

snippet zenn_warning "zenn warning message" b
:::message alert
${1}
:::
endsnippet

snippet zenn_toggle "zenn accordion toggle" b
:::details ${1:title}
${2:contents}
:::
endsnippet

# vim:ft=snippets:
