(
    selected_tab: Rgb(191, 97, 106),
    command_fg: Rgb(235, 203, 139),
    selection_bg: Rgb(67, 76, 94),
    cmdbar_extra_lines_bg: Rgb(46, 52, 64),
    disabled_fg: Rgb(163, 190, 140),
    diff_line_add: Rgb(136, 192, 208),
    diff_line_delete: Rgb(191, 97, 106),
    diff_file_added: Rgb(235, 203, 139),
    diff_file_removed: Rgb(208, 135, 112),
    diff_file_moved: Rgb(94, 129, 172),
    diff_file_modified: Rgb(180, 142, 173),
    commit_hash: Rgb(143, 188, 187),
    commit_time: Rgb(129, 161, 193),
    commit_author: Rgb(136, 192, 208),
    danger_fg: Rgb(191, 97, 106),
)