name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Install required packages
      run: apt-get update && apt-get install -y git sudo
    - name: Install dotfiles
      run: .bin/dotsinstaller.sh install --no-gui

